body{
    background-color: #18191a;
}
p{
    margin-top: 42px;
    color: azure;
    margin-left: 5px;
}
h1{
    color:aliceblue;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 17px;
    text-decoration: none;
}
.box{
    max-width: 40%;
    background: #242526;
    margin:auto;
    border-radius: 13px;
    border: 8px solid #18191a	;
}
.profile{
    margin-top: 1px;
    border-radius: 500px;
    float: left;
    margin-left: 5px;
    width: 53px;
    height: 53px;
}
img{
    max-width: 100%;
    position: cover;
}
.HeadBar{
    margin-top: -8px;
    margin-left: -9px;
    width: 1517px;
    height: 53px;
    background: #242526;
    display: flex;
    align-items: center;
    border: 1px solid #3a3b3c;
    ;
}
.fb{
    margin-left: 15px;
    font: bold;
    font-size: 28px;
    float: left;
    position: absolute;
}
form{
    background: #3a3b3c;
    width:40%;
    height: 44px;
    display: flex;
    outline: none;
    margin: auto;
    justify-content: center;
    border-radius: 40px;
}
form input{
    color: aliceblue;
    border-radius: 40px;
    flex: 1;
    background: #3a3b3c;
    width:40%;
    height: 44px;
    display: flex;
    outline: none;
    border: 1px;
    justify-content: center;
}
form .fa-magnifying-glass{
    align-items: center;
    padding: 15px 8px;
    color: #b0b3b8;
    margin-left: 2px;
}