.cover{
    width: 1000px;
    height: 450px;
    margin-right: 100px;
    margin-left: 250px;
    border-radius: 10px;
}
body{
    background-color: dimgray;
}
.profile{
    width:200px;
    height: 200px;
    margin-top: 400px;
    left: 290px;
    border-radius: 500px;
    position: absolute;
    border-color: dimgray;
    border: 7px solid dimgray;
}
.name{
    margin-top: 2px;
    margin-left: 505px;
    font-weight: bold;
    color: black;
    font-size: 30px;
    
}